@media screen and (max-width: 576px) {
  /* footer */

  .footer_section {
    padding: 0px 15px 0px 15px;
  }
  .footer_container {
    max-width: 576px;
    margin: 0 auto;
  }
  .footer_content {
    flex-direction: column;
    gap: 15px;
  }
  .footer_right {
    flex-direction: column;
    gap: 15px;
  }
}
